* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom,rgb(41, 8, 133),rgb(103, 3, 103));
}
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.logo {
    height: 50px;
    color: white;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.link-item {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;
}
.link-item:hover {
    color: blue;
    transition: 0.4s;
}
.primeira-sessao {
    display: flex;
}
.women-foto {
    margin-top: 30px;
    margin-right: 20px;
}
.primeira-sessao {
    justify-content: space-around;
    margin-left: 20px;
    height: 600px;
}
.primeira-sessao-texto {
    display: flex;
    flex-direction: column;
    height: 68vh;
    margin-top: 30px;
    width: 400px;
}
.primeira-sessao-titulo01 {
    color: rgb(158, 76, 90);
    font-size: 5vh;
}
.primeira-sessao-titulo02 {
    color: white;
    font-size: 5vh
}
.primeira-sessao-paragrafo01 {
    color: white;
    margin-top: 20px;
    font-size: 25px;
}
.primeira-sessao-div-botao-entrar {
    display: flex;
    justify-content: center;
}
.primeira-sessao-botao-entrar {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
.primeira-sessao-botao-entrar:hover {
    color: white;
    background-color: rgb(84, 3, 84);
    transition: 0.3s;
}
.segunda-sessao {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.segunda-sessao-texto {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

}
.segunda-sessao-titulo01 {
    justify-content: center;
    display: flex;
    color: white;
    padding-bottom: 30px;
}
.segunda-sessao-paragrafo {
    color: white;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}
footer {
    background-color: black;
}
.footer-titulo {
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}
.footer-item {
    color: white;
    padding-left: 30%;
    list-style: none;
}
@media (min-width: 768px) {
    .primeira-sessao-botao-entrar {
        margin-top: 20px;
    }
    .primeira-sessao {
        margin-bottom: 0px;
    }
}
@media (max-width: 918px) {
    .women-foto {
        display: none;
    }
    .primeira-sessao-botao-entrar {
        margin-top: 20px;
    }
    .primeira-sessao {
        margin-bottom: 0px;
        height: 400px;
    }
    .primeira-sessao-texto {
        width: 80vh;
    }
    .link-item {
        display: none;
    }
    .cabecalho {
        justify-content: space-between;
        margin-left: 20px;
    }
}